
.header {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1.375rem 0; 
}

.header {
  padding-left: 15rem; 
  padding-right: 15rem;
}


.header__content {
  display: grid; 
  grid-template-columns: 1fr auto 1fr; 
  align-items: center; 
}

.header__logo {
  justify-self: start;
}


.header__nav ul {
  display: flex;
  gap: 3rem; 
}

