.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.375rem 15rem;
}

.header__logo {
  min-width: 140px;
}

.header__nav {
  font-family: "poppins";
  font-weight: 600;
  font-size: 15px;
}

.header__nav ul {
  display: flex;
  gap: 3rem;
}

.header__nav--item {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;

  &:hover,
  &:focus {
    border-bottom: 2px solid #fff;
  }
}

@media (max-width: 1050px) {
  .header__content {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .header__nav ul {
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
    align-items: center;
  }
}
