.header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  margin: 1.375rem auto;
  padding: 0 1.5rem;
}

.header__logo {
  min-width: 140px;
}

.header__nav {
  font-family: "poppins";
  font-weight: 600;
  font-size: 15px;
}

.header__nav ul {
  display: flex;
  gap: 3rem;
}

.header__nav--item {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;

  &:hover,
  &:focus {
    border-bottom: 2px solid #fff;
  }
}

/* ====== адаптив ====== */

@media (max-width: 800px) {
  .header__content {
    flex-direction: column;
    align-items: center;
    gap: 8px;

    margin: 1.375rem 1.5rem;
  }
}

@media (max-width: 460px) {
  .header__content {
    margin: 1rem 1rem;
  }

  .header__nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 4px;
  }
}
