.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;

  font-family: "mulish";
  font-size: 15px;
  font-weight: 400;
}

.footer__content--social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


.footer__icon--wrapper{
  height: 25px;
  width: 25px;
}