@import "normalize.css";

:root {
  --container-width: 1680px;
  --container-padding: 24px;
  --mini-container-width: 1200px;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.mini-container {
  width: 100%;
  max-width: var(--mini-container-width);
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-inter), sans-serif;
}

html,
body {
  min-width: 300px;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
